.MessageHeader__box {
  display: flex;
  column-gap: 16px;
  align-items: center;
  height: fit-content;
  border-bottom: 1px solid #aaa;
  width: 100%;
  padding: 8px;
}

.MessageHeader__name {
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MessageHeader__trash {
  color: var(--jh-primary-color);
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
  align-self: center;
  margin-right: 16px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.MessageHeader__trash:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.MessageHeader__box a:hover {
  color: var(--jh-primary-color);
}
