.Chat__menu {
    padding: 10px 0px;
    height: 100%;
    overflow-y: auto;
    min-height: 400px;
    max-height: 500px;
    background-color: #f0f3f9;
}

.Chat__content {
    padding: 10px 0px;
    height: 100%;
    overflow-y: auto;
    max-height: 500px;
}

.Chat__box {
    height: 100%;
}