.listJob__item-center{
    vertical-align: middle;
}

.listJob__item-link{
    text-decoration: none;
    color: var(--bs-body-color);
    font-weight: 600;
}

.listJob__item-link:hover{
    color: #E34C31;
}

.listJob__parent{
    width: 100%;
    overflow-y: auto;
}