:root {
  --margin-item: 10px;
  --padding-item: 10px;
}

.HomePage-Dashboard {
  text-align: center;
}

a.HomePage-Dashboard__item:hover {
  opacity: 0.8;
}

.HomePage-Dashboard__item p {
  margin-bottom: 0;
}

.HomePage-Dashboard__item i {
  color: #ffffff;
  font-size: xx-large;
}

.HomePage-Dashboard__item-wrap {
  padding: var(--padding-item);
  border-radius: 10px;
  min-height: 160px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.HomePage-Dashboard__item-wrap.Item_1 {
  background-color: #f4a000;
}

.HomePage-Dashboard__item-wrap.Item_2 {
  background-color: #fe4039;
}

.HomePage-Dashboard__item-wrap.Item_3 {
  background-color: #00ac6a;
}

.HomePage-Dashboard__item-wrap.Item_4 {
  background-color: #3366ff;
}

.HomePage-Dashboard__item .HomePage-Dashboard__number {
  font-size: xx-large;
  font-weight: 700;
  color: #ffffff;
}

.HomePage-Dashboard__item .HomePage-Dashboard__company {
  font-weight: 700;
  color: #ffffff;
  font-size: large;
}

.HomePage-Dashboard__item .HomePage-Dashboard__text {
  font-weight: 700;
  color: #ffffff;
}
