.Footer__layout {
  background: #222831 !important;
  padding: 8px 48px;
  margin-top: auto;
}

.Footer__layout .nav-link {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (width < 768px) {
  .Footer__layout{
    padding: 8px 4px;
  }
}

.Footer__group-text {
  font-size: 15px;
  color: white;
}

.Footer__item-text {
  font-size: 14px;
  color: #999999;
  margin-bottom: 5px
}

.Footer__layout .nav-link:hover {
  color: #E34C31;
}

.Footer__text-muted {
  color: #999999;
}
