.JobItem__container {
  background: #f2fbf6;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: auto auto 16px;
  padding: 16px;
  box-shadow: 0 5px 20px 0 transparent;
  transition: box-shadow 0.3s;
}

.JobItem__container:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05) !important;
}

.JobItem__company-logo-wrapper {
  height: 80px;
}

.JobItem__company-logo {
  height: 80px;
  width: 80px;
}

.JobItem__body {
  margin-left: 12px;
}

.JobItem__title {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.JobItem__title > a {
  color: #212f3f;
  font-size: 18px;
  margin-bottom: 6px;
  text-decoration: none;
  vertical-align: top;
  font-weight: 700;
}

.JobItem__title:hover > a {
  text-decoration: underline !important;
}

.JobItem__company {
  margin: 0 0 10px;
}

.JobItem__company > a {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.JobItem__company:hover > a {
  text-decoration: underline !important;
}

.JobItem__deadline {
  color: #333;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 5px;
}

.JobItem__label-content > label {
  background: #edeef0 0 0 no-repeat padding-box;
  border-radius: 3px;
  color: #636d78;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 8px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

.JobItem__save-job {
  width: 23px;
}

.JobItem__save-job > a {
  font-size: 13px;
  text-decoration: none;
  background: #f2fbf6;
  border-radius: 3px;
  padding: 5px;
}
