.CVEducation__content {
    margin-bottom: 8px;
}

.CVEducation__content-schoolName {
    display: contents;
    margin-left: 100px;
    font-weight: 500;
}

.CVEducation__content-time {
    display: inline-block;
    margin-left: 8px;
    font-style: italic;
}

.CVEducation__content-major {
    padding-left: 26px;
    font-style: italic;
}