.AllPacket__container {
  font-size: 20px;
}

.AllPacket__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.AllPacket__item {
  margin: 20px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 300px;
  border: 2px solid;
  padding: 0;
}

.AllPacket__item-Silver {
  border-color: var(--jh-packet-silver);
}

.AllPacket__item-Gold {
  border-color: var(--jh-packet-gold);
}

.AllPacket__item-Premium {
  border-color: var(--jh-packet-premium);
}

.AllPacket__item-current {
  border-color: var(--jh-primary-color);
}

.AllPacket__Silver {
  background-color: var(--jh-packet-silver);
}

.AllPacket__Gold {
  background-color: var(--jh-packet-gold);
}

.AllPacket__Premium {
  background-color: var(--jh-packet-premium);
}

.AllPacket__item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AllPacket__item-img {
  height: 200px;
}

.AllPacket__item-packetName {
  font-size: 26px;
  font-weight: 500;
}
