.SliderJobList__container .slick-dots li button:before {
  font-size: 10px !important;
}

.SliderJobList__container .slick-dots li button:hover:before {
  color: var(--jh-primary-color);
}

.SliderJobList__container .slick-dots li.slick-active button:before {
  color: var(--jh-primary-color) !important;
}

.SliderJobList__container .slick-prev:before,
.SliderJobList__container .slick-next:before {
  font-size: 24px !important; 
  color: var(--jh-dark-gray-color) !important
}
